.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  font-weight: 900;
  border: 3px #6e1b6a solid;
  color: #6e1b6a;
  border-radius: 5px;
  width: 130px;
  height: 200px;
  text-decoration: none;
}

.name {
  font-size: 16px;
}

img {
  width: 110px;
}

.pokemon:hover {
  filter: drop-shadow(8px 8px 8px orange);
  border-color: yellowgreen;
}

img:hover {
  scale: 20%;
}
